@tailwind base;
@tailwind components;
@tailwind utilities;

.loginToRegisterHeader {
  color: black;
  font-size: 16px;
  text-align: center;
}

.addProgrammeValidationError,
.addInstituteValidationError,
.forgetPasswordValidationError,
.loginValidationError,
.registerValidationError {
  color: red;
  font-size: 12px;
  text-align: left;
}

.programmeHeader,
.forgetPasswordHeader,
.loginHeader,
.registerHeader {
  color: black;
  font-size: 32px;
  text-align: center;
}

.loginDescription,
.registerDescription {
  color: #808080;
  font-size: 20px;
  text-align: center;
}

.haveAnAccountHeader {
  color: black;
  font-size: 16px;
  text-align: center;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
